* {
  margin: 0;
  box-sizing: border-box;
}
.invisible {
  visibility: hidden;
}
.win-round-display-state {
  background-color: rgb(255, 255, 255, 0.6);
  color: rgb(0, 0, 0, 0.6);
}
.default-display-state {
  background-color: rgb(0, 0, 0, 0.1);
  color: rgb(255, 255, 255, 0.85);
}
body {
  background-color: slateblue;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}
@keyframes startTextToBlur {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(8px);
  }
}
@keyframes startFadeOut {
  0% {
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    filter: blur(100px);
    opacity: 0;
  }
}
.start-fade-out {
  animation: startFadeOut 2s linear;
}
.start-txt-to-blur {
  animation: startTextToBlur 2s linear;
}
.start-screen-solid {
  background: radial-gradient(
    circle,
    rgba(255, 100, 100, 1) 0%,
    rgba(255, 99, 71, 1) 46%,
    rgba(210, 80, 56, 1) 100%
  );
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 3;
}
.start-screen-solid button {
  width: 100%;
  border: none;
  color: tomato;
  height: 1.8rem;
  margin-top: 15px;
  font-weight: 600;
  font-size: 1.2rem;
}
.start-screen-txt {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 600;
  font-size: 3.8rem;
}
#start-btn {
  z-index: 3;
}
.start-screen-img {
  mix-blend-mode: multiply;
  opacity: 0.2;
  filter: blur(6px);
  position: absolute;
  top: 24%;
  left: 25%;
  transform-origin: 51% 40%;
}
@keyframes rpsImageRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.start-screen-img-animate {
  animation: rpsImageRotate 15s infinite linear;
}
@keyframes roundNotify {
  0% {
    top: -10%;
  }
  10% {
    top: 4%;
  }
  80% {
    top: 4%;
  }
  100% {
    top: -10%;
  }
}
.round-number-animate {
  animation: roundNotify 1s ease-out;
}

#round-number {
  color: white;
  position: absolute;
  left: 50%;
  top: -10%;
  transform: translateX(-50%);
}
.start-end-swipe {
  position: absolute;
  top: 0;
  left: 0;
  background-color: tomato;
  height: 100vh;
  width: 100vw;
  z-index: 10;
}
@keyframes slide {
  0% {
    left: 110vw; /* Start completely off-screen */
  }
  5% {
    opacity: 0;
  }
  30% {
    left: 50vw; /* Move to the center */
    transform: translateX(-50%);
    opacity: 0.8;
  }
  70% {
    left: 50vw; /* Pause in the center */
    transform: translateX(-50%);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    left: -110vw; /* Move completely off-screen to the left */
  }
}

@keyframes optionIn {
  0% {
    left: 100%; /* Start completely off-screen */
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    left: 0%;
    transform: translateX(-50%);
    opacity: 1;
  }
}
.choice-display-txt-slide-in {
  position: relative;
  animation: optionIn 0.3s;
}
@keyframes optionOut {
  0% {
    opacity: 1;
    left: 0%;
  }
  40% {
    opacity: 0;
  }
  100% {
    left: -50%;
    opacity: 0;
  }
}
.choice-display-txt-slide-out {
  position: relative;
  animation: optionOut 0.4s;
}
.end-game-message {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  position: absolute;
  white-space: nowrap;
  top: 35%;
  opacity: 0;
  z-index: 6;
}
.round-message {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  position: absolute;
  white-space: nowrap;
  top: 35%;
  opacity: 0;
}
.slider-animate {
  animation: slide 2s cubic-bezier(0.44, 0.01, 0, 1.05);
}
.end-slider-animate {
  animation: slide 8s cubic-bezier(0.44, 0.01, 0, 1.05);
}
.gradient-layer {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(2, 0, 36);
  mix-blend-mode: overlay;
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.4) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  width: 100%;
  height: 100%;
  z-index: 3;
}
#container {
  background-color: aquamarine;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.btn-replay {
  background-color: rgb(0, 0, 0, 0);
  border-radius: 40px;
  filter: blur(3px);
  height: 40px;
}
.btn-replay,
.btn-replay-text {
  display: flex;
  align-items: center;
  height: 40px;
  justify-content: center;
  left: calc(50vw - 50px);
  position: absolute;
  top: calc(82vh - 15px);
  width: 100px;
  z-index: 2;
}
.btn-replay-text {
  color: white;
  font-weight: 600;
}
.players {
  flex: 1;
}
#human {
  display: flex;
  flex-direction: column;
  background-color: tomato;
  padding: 20px;
}
#human-choices {
  display: flex;
  flex: 3;
  width: 55%;
  align-self: center;
}
.choice {
  display: flex;
  flex: 1;
  margin-bottom: 20px;
  position: relative;
  justify-content: center;
}

.btn-element {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  border-radius: 100%;
  width: 70%;
  aspect-ratio: 1/1;
}
.btn-element-shade-out {
  box-shadow: -0.6rem -0.6rem 1rem -0.4rem rgb(255, 255, 255, 0.1),
    inset 0.7rem 0.7rem 0.7rem -0.3rem rgb(255, 255, 255, 0.08),
    inset 0.35rem 0.35rem 0.4rem -0.5rem rgb(255, 255, 255, 0.1),
    inset -0.3rem -0.3rem 1rem -0.3rem rgb(0, 0, 0, 0.2),
    0.5rem 0.5rem 0.9rem rgb(0, 0, 0, 0.14);
}
.btn-element-shade-in {
  filter: blur(1px);
  box-shadow: -0.6rem -0.6rem 1rem -0.4rem rgb(255, 255, 255, 0.1),
    inset -1rem -1rem 0.7rem -0.3rem rgb(255, 255, 255, 0.1),
    inset -0.35rem -0.35rem 0.4rem -0.5rem rgb(255, 255, 255, 0.1),
    inset 0.3rem 0.3rem 1rem -0.3rem rgb(0, 0, 0, 0.2);
}
.btn-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  filter: invert(1);
}
#Scissors-btn-icon {
  left: 50%;
  transform: translateX(-52%) rotate(30deg);
}
.choice-display-container {
  flex: 3;
  display: flex;
  justify-content: center;
}

.choice-display {
  align-content: center; /*flex box centering*/
  border-radius: 120px;
  /* font-size: 3rem; */
  font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
  font-weight: 600;
  height: 60px;
  text-align: center;
  width: 70%;
  box-shadow: inset -0.3rem -1.03rem 0.1rem -1rem rgb(255, 255, 255, 0.5),
    inset 0.3rem 0.3rem 0.7rem 0rem rgb(0, 0, 0, 0.5);
}
.player-info {
  flex: 1;
  display: flex;
  color: rgb(255, 255, 255, 0.5);
  align-items: center;
}
.player {
  font-size: 2rem;
  height: 100%;
  font-weight: 600;
}
.player-name {
  flex: 6;
}
.player-score {
  flex: 1;
  text-align: center;
}
#computer {
  background-color: slateblue;
  display: flex;
  flex-direction: column;
  padding: 30px 20px 20px 20px;
}
#computer-display {
  flex: 10;
  display: flex;
}
.end-screen-win {
  background-color: rgb(0, 150, 0, 0.5);
}
.end-screen-lose {
  background-color: rgb(255, 0, 0, 0.3);
}
.end-screen-tie {
  background-color: rgb(100, 100, 100, 0.6);
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.end-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  z-index: 2;
  animation: fade-in 2s ease-in;
}

@media only screen and (max-width: 340px) {
  body {
    scale: 1;
  }
  .choice-display {
    font-size: 2rem;
  }
  #computer {
    padding: 10px;
  }
  #human {
    padding: 10px;
  }
  .player {
    font-size: 0.9rem;
  }
  .choice-display {
    border-radius: 150px;
    height: 50px;
  }
  .btn-replay,
  .btn-replay-text {
    top: 85vh;
    left: calc(50vw - 50px);
  }
}
@media only screen and (min-width: 600px) {
  #container {
    flex-direction: row;
  }
  .round-message {
    top: 16%;
  }
  .btn-replay,
  .btn-replay-text {
    top: 70vh;
    left: calc(50vw - 53px);
  }
  .choice-display {
    border-radius: 150px;
    height: 80px;
    width: 80%;
  }
  #computer-info {
    order: 1;
    display: flex;
    /* padding-left: 20px; */
  }
  #computer-score {
    justify-content: end;
  }
  #computer-name {
    order: 2;
    justify-content: end;
  }
  #computer-display {
    flex: 3;
  }

  .player {
    font-size: 2.5rem;
    font-weight: 600;
    display: flex;
  }
  .player-info {
    flex: 1;
  }
}
@media only screen and (max-width: 800px) {
  .player {
    font-size: 1.6rem;
  }
  .choice-display {
    height: 60px;
  }
}

@media only screen and (min-width: 1024px) {
  .round {
    top: 20%;
  }
  .player {
    font-size: 3rem;
    font-weight: 900;
  }

  .choice-display span {
    left: 0px;
  }
  @keyframes optionIn {
    0% {
      left: 100%; /* Start completely off-screen */
      opacity: 0;
    }
    55% {
      opacity: 0;
    }
    100% {
      left: 0%;
      transform: translateX(-50%);
      opacity: 1;
    }
  }
  .btn-replay,
  .btn-replay-text {
    top: calc(62vh - 15px);
  }
  .player-info {
    flex: 2;
  }
}
